*.ncb
*.suo
*.user
*.dep
*.obj
*.embed.manifest
*.intermediate.manifest
*.exe
*.dll
*.ilk
*.pdb
*.idb
*.res
*.aps
*.exp
*.ipch
*.opensdf
*.sdf
*.tlog
*.lastbuildstate
*.log
ResolveAssemblyReference.cache
*.unsuccessfulbuild
*_manifest.rc
*~
testfiles/fonts/*.ttf
testfiles/fonts/*.TTF
testfiles/fonts/*.fon
testfiles/fonts/*.FON
testfiles/swf/*.swf
testfiles/pdf/*.pdf
BuildLog.htm
lib/zlib/*
lib/BasicDataStructures/*/*.lib
Debug/*.lib
Release/*.lib
projects/zlib/*/*.lib
data/*/*.zip
data/*/*.doc
log.txt
cursor*.bmp
*.jpg
*.JPG
*.coverage
bin/*
*.o
*.gcno
*.gcda
*.gcov
.sconsign.dblite
*.orig

