*.ncb
*.suo
*.user
*.dep
*.obj
*.embed.manifest
*.intermediate.manifest
*.exe
*.ilk
*.pdb
*.idb
*.res
*.aps
*.exp
testfiles/fonts/*.ttf
testfiles/fonts/*.TTF
testfiles/fonts/*.fon
testfiles/fonts/*.FON
testfiles/swf/*.swf
testfiles/pdf/*.pdf
BuildLog.htm
lib/zlib/*
lib/BasicDataStructures/*/*.lib
Debug/*.lib
Release/*.lib
projects/zlib/*/*.lib
data/*/*.zip
data/*/*.doc
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
log.txt
cursor*.bmp
*.jpg
*.JPG

